Obtenção e Transformação 

---

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Definição de configurações de dataframes
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.precision', 4)
pd.set_option('display.expand_frame_repr', True)

In [3]:
#Configurando os plots para serem emandanteibidos diretamente no notebook
%matplotlib inline

In [4]:
df_jogos = pd.read_csv('dados/campeonato-brasileiro-full.csv',sep=',',encoding = "UTF-8")
df_estatisticas = pd.read_csv('dados/campeonato-brasileiro-estatisticas-full.csv', sep=',',encoding = "UTF-8")

In [5]:
#df_jogos = pd.read_csv('/content/campeonato-brasileiro-full.csv',sep=',',encoding = "UTF-8")
#df_estatisticas = pd.read_csv('/content/campeonato-brasileiro-estatisticas-full.csv', sep=',',encoding = "UTF-8")

In [6]:
#colocando todas as colunas em minusculo
df_jogos.columns = df_jogos.columns.str.lower()
df_estatisticas.columns = df_estatisticas.columns.str.lower()

In [7]:
df_jogos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8025 entries, 0 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  8025 non-null   int64
 1   rodata              8025 non-null   int64
 2   data                8025 non-null   object
 3   hora                8025 non-null   object
 4   mandante            8025 non-null   object
 5   visitante           8025 non-null   object
 6   formacao_mandante   3051 non-null   object
 7   formacao_visitante  3051 non-null   object
 8   tecnico_mandante    3415 non-null   object
 9   tecnico_visitante   3415 non-null   object
 10  vencedor            8025 non-null   object
 11  arena               8025 non-null   object
 12  mandante_placar     8025 non-null   int64
 13  visitante_placar    8025 non-null   int64
 14  mandante_estado     8025 non-null   object
 15  visitante_estado    8025 non-null   object
dtypes: int64(4), object(12)
memory usage: 1003.2+ KB

In [8]:
df_jogos.rename(columns={'id':'partida_id'},inplace=True)
df_jogos.rename(columns={'rodata':'rodada'},inplace=True)

In [9]:
df_estatisticas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16050 entries, 0 to 16049
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   partida_id       16050 non-null  int64
 1   rodata           16050 non-null  int64
 2   clube            16050 non-null  object
 3   chutes           16050 non-null  int64
 4   chutes_no_alvo   16050 non-null  int64
 5   posse_de_bola    6838 non-null   object
 6   passes           16050 non-null  int64
 7   precisao_passes  6838 non-null   object
 8   faltas           16050 non-null  int64
 9   cartao_amarelo   16050 non-null  int64
 10  cartao_vermelho  16050 non-null  int64
 11  impedimentos     16050 non-null  int64
 12  escanteios       16050 non-null  int64
dtypes: int64(10), object(3)
memory usage: 1.6+ MB

In [10]:
# left join dos dados de mandante
dfmandante = pd.merge(df_jogos,df_estatisticas,how='left',right_on=['partida_id','clube'],left_on=['partida_id','mandante'])

In [11]:
# left join dos dados de mandante
df = pd.merge(dfmandante,df_estatisticas,how='left',right_on=['partida_id','clube'],left_on=['partida_id','visitante'])

In [12]:
# renomenando as colunas de mandante e visitante
df.columns = ['partida_id', 'rodada', 'data', 'hora', 'mandante', 'visitante', 'formacao_mandante', 'formacao_visitante', 'tecnico_mandante', 'tecnico_visitante', 'vencedor', 'arena', 'mandante_placar', 'visitante_placar', 'mandante_estado', 'visitante_estado', 'rodata_mandante', 'clube_mandante', 'chutes_mandante', 'chutes_no_alvo_mandante', 'posse_de_bola_mandante', 'passes_mandante', 'precisao_passes_mandante', 'faltas_mandante', 'cartao_amarelo_mandante', 'cartao_vermelho_mandante', 'impedimentos_mandante', 'escanteios_mandante', 'rodata_visitante', 'clube_visitante', 'chutes_visitante', 'chutes_no_alvo_visitante', 'posse_de_bola_visitante', 'passes_visitante', 'precisao_passes_visitante', 'faltas_visitante', 'cartao_amarelo_visitante', 'cartao_vermelho_visitante', 'impedimentos_visitante', 'escanteios_visitante']

In [13]:
#df.set_index("partida_id",inplace=True,drop=False)
df.tail()

      partida_id  rodada        data   hora       mandante    visitante formacao_mandante formacao_visitante        tecnico_mandante    tecnico_visitante       vencedor                        arena  mandante_placar  visitante_placar mandante_estado visitante_estado  rodata_mandante clube_mandante  chutes_mandante  chutes_no_alvo_mandante posse_de_bola_mandante  passes_mandante precisao_passes_mandante  faltas_mandante  cartao_amarelo_mandante  cartao_vermelho_mandante  impedimentos_mandante  escanteios_mandante  rodata_visitante clube_visitante  chutes_visitante  chutes_no_alvo_visitante posse_de_bola_visitante  passes_visitante precisao_passes_visitante  faltas_visitante  cartao_amarelo_visitante  cartao_vermelho_visitante  impedimentos_visitante  escanteios_visitante
8020        8021      38  13/11/2022  16:03         Cuiaba     Coritiba           4-1-4-1            4-1-4-1  A. Cardoso de Oliveira          A. Ferreira         Cuiaba               Arena Pantanal                2                 1              MT               PR               38         Cuiaba               17                        8                    57%              505                      88%                9                        1                         0                      2                    8                38        Coritiba                 4                         2                     43%               389                       82%                 8                         3                          1                       2                     1
8021        8022      38  13/11/2022  16:03     Bragantino   Fluminense           4-2-3-1            4-2-3-1    M. Nogueira Barbieri       F. Diniz Silva     Fluminense                      Nabizão                0                 1              SP               RJ               38     Bragantino               13                        4                    41%              319                      77%               16                        3                         0                      5                    4                38      Fluminense                 8                         4                     59%               463                       82%                15                         2                          0                       0                     9
8022        8023      38  13/11/2022  16:03    Corinthians  Atletico-MG           4-1-4-1            4-2-3-1  F. J. Monteiro Almeida            A. Stival    Atletico-MG            Neo Química Arena                0                 1              SP               MG               38    Corinthians               17                        4                    59%              494                      84%               11                        3                         0                      1                    5                38     Atletico-MG                17                         7                     41%               351                       82%                19                         6                          0                       0                     4
8023        8024      38  13/11/2022  16:03  Internacional    Palmeiras           4-2-3-1            4-2-3-1    L. Venker de Menezes  A. Moreira Ferreira  Internacional  Estádio José Pinheiro Borda                3                 0              RS               SP               38  Internacional               15                        8                    48%              287                      77%               13                        2                         0                      1                    6                38       Palmeiras                11                         2                     52%               306                       82%                17                         3                          0                       2                     5
8024        8025      38  13/11/2022  16:03          Goias    Sao Paulo           4-2-3-1          4-1-2-1-2      J. Ribeiro Ventura              R. Ceni      Sao Paulo          Estádio da Serrinha                0                 4              GO               SP               38          Goias                6                        2                    35%              330                      80%               12                        2                         0                      1                    3                38       Sao Paulo                13                         7                     65%               591                       90%                14                         1                          0                       0                     4

In [14]:
#Converte a data do tipo objeto para o tipo datetime e cria a coluna ano
df["data"] = pd.to_datetime(df["data"],format='%d/%m/%Y',dayfirst=True)

In [15]:
df["ano"] = df["data"].dt.year

In [16]:
df.loc[(df["data"]>="2020/08/08") & (df["data"]<="2021/02/25"),"ano" ] = 2020
df.loc[(df["data"]>="2021/05/29") & (df["data"]<="2021/12/09"),"ano" ] = 2021
df.rename(columns={'ano':'temporada'},inplace=True)

In [17]:
#copia do dataframe para o df2, para manter o original df
df2 = df[df['temporada']>=2016].copy(deep=True)

In [18]:
#df2 = df[df['temporada']>=2018]

# Verificando que não há dados NAN no dataset
df2.isna().sum()

partida_id                   0
rodada                       0
data                         0
hora                         0
mandante                     0
visitante                    0
formacao_mandante            4
formacao_visitante           4
tecnico_mandante             1
tecnico_visitante            1
vencedor                     0
arena                        0
mandante_placar              0
visitante_placar             0
mandante_estado              0
visitante_estado             0
rodata_mandante              0
clube_mandante               0
chutes_mandante              0
chutes_no_alvo_mandante      0
posse_de_bola_mandante       0
passes_mandante              0
precisao_passes_mandante     0
faltas_mandante              0
cartao_amarelo_mandante      0
cartao_vermelho_mandante     0
impedimentos_mandante        0
escanteios_mandante          0
rodata_visitante             0
clube_visitante              0
chutes_visitante             0
chutes_no_alvo_visitante     0
posse_de_bola_visitante      0
passes_visitante             0
precisao_passes_visitante    0
faltas_visitante             0
cartao_amarelo_visitante     0
cartao_vermelho_visitante    0
impedimentos_visitante       0
escanteios_visitante         0
temporada                    0
dtype: int64

In [19]:
#Definindo colunas de vitorias e derrotas e empates mandante/visitante
df2['resultado'] = df2.apply(lambda x: 1 if x["vencedor"] == x["mandante"] else 2 if x["vencedor"] == x["visitante"] else 3 if x["vencedor"] == '-' else 9999  ,axis=1)
#df['resultado'] = df.apply(lambda x: 2 if x["vencedor"] == x["visitante"] else 0,axis=1)
#df['resultado'] = df.apply(lambda x: 3 if x["vencedor"] == '-' else 5,axis=1)
df2['resultado']

5366    1
5367    1
5368    1
5369    1
5370    1
       ..
8020    1
8021    2
8022    2
8023    1
8024    2
Name: resultado, Length: 2659, dtype: int64

In [20]:
# Retira o % tendo em vista que iriemos converter o numero inteiro para percentual numerico
df2['posse_de_bola_mandante'] = df2['posse_de_bola_mandante'].replace({'%': ''}, regex=True)
df2['precisao_passes_mandante'] = df2['precisao_passes_mandante'].replace({'%': ''}, regex=True)
df2['posse_de_bola_visitante'] = df2['posse_de_bola_visitante'].replace({'%': ''}, regex=True)
df2['precisao_passes_visitante'] = df2['precisao_passes_visitante'].replace({'%': ''}, regex=True)

# Substitui valores ausentes ou 'None' por NaN
df2['posse_de_bola_mandante'] = df2['posse_de_bola_mandante'].replace({'None': np.nan})
df2['precisao_passes_mandante']= df2['precisao_passes_mandante'].replace({'None': np.nan})
df2['posse_de_bola_visitante'] = df2['posse_de_bola_visitante'].replace({'None': np.nan})
df2['precisao_passes_visitante'] = df2['precisao_passes_visitante'].replace({'None': np.nan})

# convertendo o percentual numerico
df2['posse_de_bola_mandante'] = df2['posse_de_bola_mandante'].astype('Int64') /100
df2['precisao_passes_mandante'] = df2['precisao_passes_mandante'].astype('Int64') /100
df2['posse_de_bola_visitante'] = df2['posse_de_bola_visitante'].astype('Int64') /100
df2['precisao_passes_visitante'] = df2['precisao_passes_visitante'].astype('Int64') /100

In [21]:
# identificado 24 linhas com valores na e zerados, que irá influenciar na analise 
df2[(df2['precisao_passes_visitante'].isna())].describe()

       partida_id    rodada  mandante_placar  visitante_placar  rodata_mandante  chutes_mandante  chutes_no_alvo_mandante  posse_de_bola_mandante  passes_mandante  precisao_passes_mandante  faltas_mandante  cartao_amarelo_mandante  cartao_vermelho_mandante  impedimentos_mandante  escanteios_mandante  rodata_visitante  chutes_visitante  chutes_no_alvo_visitante  posse_de_bola_visitante  passes_visitante  precisao_passes_visitante  faltas_visitante  cartao_amarelo_visitante  cartao_vermelho_visitante  impedimentos_visitante  escanteios_visitante  temporada  resultado
count    783.0000  783.0000         783.0000          783.0000         783.0000         783.0000                 783.0000                   758.0         783.0000                       0.0         783.0000                 783.0000                  783.0000               783.0000             783.0000          783.0000          783.0000                  783.0000                    758.0          783.0000                        0.0          783.0000                  783.0000                   783.0000                783.0000              783.0000   783.0000   783.0000
mean    5776.2644   19.5428           1.4227            0.9847          19.5428          13.9566                   2.4534                  0.5255         422.4176                      <NA>          14.9017                   2.0192                    0.0817                 1.8812               5.9298           19.5428           10.5287                    1.8123                   0.4745          387.1022                       <NA>           15.4547                    2.4074                     0.1264                  1.6794                4.1775  2016.5785     1.7791
std      275.6879   10.9385           1.1505            0.9844          10.9385           5.5664                   2.9306                  0.0988         122.7007                      <NA>           5.1575                   1.4136                    0.2878                 1.6872               3.2408           10.9385            4.5791                    2.3426                   0.0988          115.5795                       <NA>            5.4602                    1.5277                     0.3620                  1.5174                2.6420     0.6603     0.8331
min     5367.0000    1.0000           0.0000            0.0000           1.0000           0.0000                   0.0000                    0.26           0.0000                      <NA>           0.0000                   0.0000                    0.0000                 0.0000               0.0000            1.0000            0.0000                    0.0000                     0.23            0.0000                       <NA>            0.0000                    0.0000                     0.0000                  0.0000                0.0000  2016.0000     1.0000
25%     5562.5000   10.0000           1.0000            0.0000          10.0000          11.0000                   0.0000                    0.45         355.0000                      <NA>          12.0000                   1.0000                    0.0000                 1.0000               4.0000           10.0000            8.0000                    0.0000                      0.4          328.0000                       <NA>           12.0000                    1.0000                     0.0000                  1.0000                2.0000  2016.0000     1.0000
50%     5758.0000   20.0000           1.0000            1.0000          20.0000          14.0000                   1.0000                    0.53         428.0000                      <NA>          15.0000                   2.0000                    0.0000                 2.0000               6.0000           20.0000           10.0000                    0.0000                     0.47          386.0000                       <NA>           16.0000                    2.0000                     0.0000                  1.0000                4.0000  2017.0000     2.0000
75%     5953.5000   29.0000           2.0000            2.0000          29.0000          17.0000                   5.0000                     0.6         498.5000                      <NA>          18.0000                   3.0000                    0.0000                 3.0000               8.0000           29.0000           13.0000                    3.0000                     0.55          459.0000                       <NA>           19.0000                    3.0000                     0.0000                  2.5000                6.0000  2017.0000     3.0000
max     7015.0000   38.0000           6.0000            6.0000          38.0000          31.0000                  12.0000                    0.77         745.0000                      <NA>          32.0000                   7.0000                    2.0000                 8.0000              18.0000           38.0000           28.0000                   11.0000                     0.74          704.0000                       <NA>           34.0000                    9.0000                     3.0000                  9.0000               15.0000  2020.0000     3.0000

In [22]:
# Removendo as linhas zeradas/NAN
print("Numero de Linhas " , df2.shape[0])
df2 = df2.dropna()
print("Numero de Linhas apos remover os NAN" , df2.shape[0])

Numero de Linhas  2659
Numero de Linhas apos remover os NAN 1876

In [23]:
df2.describe()

       partida_id     rodada  mandante_placar  visitante_placar  rodata_mandante  chutes_mandante  chutes_no_alvo_mandante  posse_de_bola_mandante  passes_mandante  precisao_passes_mandante  faltas_mandante  cartao_amarelo_mandante  cartao_vermelho_mandante  impedimentos_mandante  escanteios_mandante  rodata_visitante  chutes_visitante  chutes_no_alvo_visitante  posse_de_bola_visitante  passes_visitante  precisao_passes_visitante  faltas_visitante  cartao_amarelo_visitante  cartao_vermelho_visitante  impedimentos_visitante  escanteios_visitante  temporada  resultado
count   1876.0000  1876.0000        1876.0000         1876.0000        1876.0000        1876.0000                1876.0000                  1876.0        1876.0000                    1876.0        1876.0000                1876.0000                 1876.0000              1876.0000            1876.0000         1876.0000         1876.0000                 1876.0000                   1876.0         1876.0000                     1876.0         1876.0000                 1876.0000                  1876.0000               1876.0000             1876.0000  1876.0000  1876.0000
mean    7079.8769    19.4723           1.3747            0.9408          19.4723          14.7031                   4.7974                   0.515         435.0192                    0.8117          14.9829                   2.1962                    0.1103                 1.4909               5.8993           19.4723           11.3364                    3.6557                    0.485          412.6642                     0.7972           14.7345                    2.3257                     0.1525                  1.3870                4.6071  2020.0123     1.8076
std      550.5976    10.9776           1.1416            0.9612          10.9776           5.1184                   2.4352                  0.1084         104.3696                    0.0576           4.3500                   1.3944                    0.3427                 1.3707               3.1665           10.9776            4.4492                    2.0671                   0.1084           98.5651                     0.0609            4.3248                    1.4533                     0.4003                  1.2885                2.6838     1.4192     0.8490
min     6126.0000     1.0000           0.0000            0.0000           1.0000           2.0000                   0.0000                     0.2         170.0000                       0.4           2.0000                   0.0000                    0.0000                 0.0000               0.0000            1.0000            1.0000                    0.0000                      0.2          173.0000                       0.39            4.0000                    0.0000                     0.0000                  0.0000                0.0000  2018.0000     1.0000
25%     6597.7500    10.0000           1.0000            0.0000          10.0000          11.0000                   3.0000                    0.44         359.0000                      0.78          12.0000                   1.0000                    0.0000                 0.0000               4.0000           10.0000            8.0000                    2.0000                      0.4          341.0000                       0.76           12.0000                    1.0000                     0.0000                  0.0000                3.0000  2019.0000     1.0000
50%     7087.5000    19.0000           1.0000            1.0000          19.0000          14.0000                   4.5000                    0.52         430.0000                      0.82          15.0000                   2.0000                    0.0000                 1.0000               5.0000           19.0000           11.0000                    3.0000                     0.48          408.0000                       0.81           14.5000                    2.0000                     0.0000                  1.0000                4.0000  2020.0000     2.0000
75%     7556.2500    29.0000           2.0000            1.0000          29.0000          18.0000                   6.0000                     0.6         505.0000                      0.85          18.0000                   3.0000                    0.0000                 2.0000               8.0000           29.0000           14.0000                    5.0000                     0.56          476.2500                       0.84           18.0000                    3.0000                     0.0000                  2.0000                6.0000  2021.0000     3.0000
max     8025.0000    38.0000           6.0000            5.0000          38.0000          37.0000                  16.0000                     0.8         787.0000                      0.93          30.0000                  10.0000                    3.0000                 9.0000              23.0000           38.0000           31.0000                   12.0000                      0.8          848.0000                       0.92           31.0000                    8.0000                     3.0000                  8.0000               18.0000  2022.0000     3.0000

In [24]:
df2.drop(columns=['data','hora',"tecnico_mandante","tecnico_visitante","arena",'mandante_estado','visitante_estado','rodata_mandante','clube_mandante','clube_visitante'],inplace=True)

In [25]:
df2['total_gols'] = df2.apply(lambda x: x['mandante_placar'] + x['visitante_placar'],axis=1)

In [26]:
df2.isna().sum()

partida_id                   0
rodada                       0
mandante                     0
visitante                    0
formacao_mandante            0
formacao_visitante           0
vencedor                     0
mandante_placar              0
visitante_placar             0
chutes_mandante              0
chutes_no_alvo_mandante      0
posse_de_bola_mandante       0
passes_mandante              0
precisao_passes_mandante     0
faltas_mandante              0
cartao_amarelo_mandante      0
cartao_vermelho_mandante     0
impedimentos_mandante        0
escanteios_mandante          0
rodata_visitante             0
chutes_visitante             0
chutes_no_alvo_visitante     0
posse_de_bola_visitante      0
passes_visitante             0
precisao_passes_visitante    0
faltas_visitante             0
cartao_amarelo_visitante     0
cartao_vermelho_visitante    0
impedimentos_visitante       0
escanteios_visitante         0
temporada                    0
resultado                    0
total_gols                   0
dtype: int64

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1876 entries, 6125 to 8024
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   partida_id                 1876 non-null   int64
 1   rodada                     1876 non-null   int64
 2   mandante                   1876 non-null   object
 3   visitante                  1876 non-null   object
 4   formacao_mandante          1876 non-null   object
 5   formacao_visitante         1876 non-null   object
 6   vencedor                   1876 non-null   object
 7   mandante_placar            1876 non-null   int64
 8   visitante_placar           1876 non-null   int64
 9   chutes_mandante            1876 non-null   int64
 10  chutes_no_alvo_mandante    1876 non-null   int64
 11  posse_de_bola_mandante     1876 non-null   Float64
 12  passes_mandante            1876 non-null   int64
 13  precisao_passes_mandante   1876 non-null   Float64
 14  faltas_mandante            1876 non-null   int64
 15  cartao_amarelo_mandante    1876 non-null   int64
 16  cartao_vermelho_mandante   1876 non-null   int64
 17  impedimentos_mandante      1876 non-null   int64
 18  escanteios_mandante        1876 non-null   int64
 19  rodata_visitante           1876 non-null   int64
 20  chutes_visitante           1876 non-null   int64
 21  chutes_no_alvo_visitante   1876 non-null   int64
 22  posse_de_bola_visitante    1876 non-null   Float64
 23  passes_visitante           1876 non-null   int64
 24  precisao_passes_visitante  1876 non-null   Float64
 25  faltas_visitante           1876 non-null   int64
 26  cartao_amarelo_visitante   1876 non-null   int64
 27  cartao_vermelho_visitante  1876 non-null   int64
 28  impedimentos_visitante     1876 non-null   int64
 29  escanteios_visitante       1876 non-null   int64
 30  temporada                  1876 non-null   int64
 31  resultado                  1876 non-null   int64
 32  total_gols                 1876 non-null   int64
dtypes: Float64(4), int64(24), object(5)
memory usage: 505.6+ KB

In [28]:
df2.to_csv("dados/transformado.csv",index=False,sep=',')