<a href="https://colab.research.google.com/github/vbddinho/puc_minas_machine/blob/main/plano3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [88]:
#Definição de configurações de dataframes
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.precision', 4)
pd.set_option('display.expand_frame_repr', False)

In [89]:
#Configurando os plots para serem exibidos diretamente no notebook
%matplotlib inline

In [90]:
df_estatisticas = pd.read_csv('dados/campeonato-brasileiro-estatisticas-full.csv', sep=',',encoding = "UTF-8")

In [91]:
df_estatisticas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16050 entries, 0 to 16049
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   partida_id       16050 non-null  int64
 1   rodata           16050 non-null  int64
 2   clube            16050 non-null  object
 3   chutes           16050 non-null  int64
 4   chutes_no_alvo   16050 non-null  int64
 5   posse_de_bola    6838 non-null   object
 6   passes           16050 non-null  int64
 7   precisao_passes  6838 non-null   object
 8   faltas           16050 non-null  int64
 9   cartao_amarelo   16050 non-null  int64
 10  cartao_vermelho  16050 non-null  int64
 11  impedimentos     16050 non-null  int64
 12  escanteios       16050 non-null  int64
dtypes: int64(10), object(3)
memory usage: 1.6+ MB

In [92]:
df_estatisticas.nunique()

partida_id         8025
rodata               46
clube                45
chutes               37
chutes_no_alvo       16
posse_de_bola        62
passes              515
precisao_passes      42
faltas               32
cartao_amarelo       11
cartao_vermelho       4
impedimentos         11
escanteios           21
dtype: int64

In [93]:
df_estatisticas.rename(columns={'rodata':'rodada'},inplace=True)

In [94]:
df_estatisticas.isna().sum()

partida_id            0
rodada                0
clube                 0
chutes                0
chutes_no_alvo        0
posse_de_bola      9212
passes                0
precisao_passes    9212
faltas                0
cartao_amarelo        0
cartao_vermelho       0
impedimentos          0
escanteios            0
dtype: int64

In [95]:
df_estatisticas.tail()

       partida_id  rodada          clube  chutes  chutes_no_alvo posse_de_bola  passes precisao_passes  faltas  cartao_amarelo  cartao_vermelho  impedimentos  escanteios
16045        8023      38    Atletico-MG      17               7           41%     351             82%      19               6                0             0           4
16046        8024      38  Internacional      15               8           48%     287             77%      13               2                0             1           6
16047        8024      38      Palmeiras      11               2           52%     306             82%      17               3                0             2           5
16048        8025      38          Goias       6               2           35%     330             80%      12               2                0             1           3
16049        8025      38      Sao Paulo      13               7           65%     591             90%      14               1                0             0           4

In [96]:
df_estatisticas.fillna(0, axis=1, inplace=True)

In [97]:
df_jogos = pd.read_csv('dados/campeonato-brasileiro-full.csv',sep=',',encoding = "UTF-8")

In [98]:
df_jogos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8025 entries, 0 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8025 non-null   int64
 1   rodata              8025 non-null   int64
 2   data                8025 non-null   object
 3   hora                8025 non-null   object
 4   mandante            8025 non-null   object
 5   visitante           8025 non-null   object
 6   formacao_mandante   3051 non-null   object
 7   formacao_visitante  3051 non-null   object
 8   tecnico_mandante    3415 non-null   object
 9   tecnico_visitante   3415 non-null   object
 10  vencedor            8025 non-null   object
 11  arena               8025 non-null   object
 12  mandante_Placar     8025 non-null   int64
 13  visitante_Placar    8025 non-null   int64
 14  mandante_Estado     8025 non-null   object
 15  visitante_Estado    8025 non-null   object
dtypes: int64(4), object(12)
memory usage: 1003.2+ KB

In [99]:
df_jogos.rename(columns={'ID':'partida_id'},inplace=True)
df_jogos.rename(columns={'rodata':'rodada'},inplace=True)

In [100]:
df = pd.merge(df_estatisticas,df_jogos,how='left',right_on='partida_id',left_on='partida_id')

In [101]:
df.tail()

       partida_id  rodada_x          clube  chutes  chutes_no_alvo posse_de_bola  passes precisao_passes  faltas  cartao_amarelo  cartao_vermelho  impedimentos  escanteios  rodada_y        data   hora       mandante    visitante formacao_mandante formacao_visitante        tecnico_mandante    tecnico_visitante       vencedor                        arena  mandante_Placar  visitante_Placar mandante_Estado visitante_Estado
16045        8023        38    Atletico-MG      17               7           41%     351             82%      19               6                0             0           4        38  13/11/2022  16:03    Corinthians  Atletico-MG           4-1-4-1            4-2-3-1  F. J. Monteiro Almeida            A. Stival    Atletico-MG            Neo Química Arena                0                 1              SP               MG
16046        8024        38  Internacional      15               8           48%     287             77%      13               2                0             1           6        38  13/11/2022  16:03  Internacional    Palmeiras           4-2-3-1            4-2-3-1    L. Venker de Menezes  A. Moreira Ferreira  Internacional  Estádio José Pinheiro Borda                3                 0              RS               SP
16047        8024        38      Palmeiras      11               2           52%     306             82%      17               3                0             2           5        38  13/11/2022  16:03  Internacional    Palmeiras           4-2-3-1            4-2-3-1    L. Venker de Menezes  A. Moreira Ferreira  Internacional  Estádio José Pinheiro Borda                3                 0              RS               SP
16048        8025        38          Goias       6               2           35%     330             80%      12               2                0             1           3        38  13/11/2022  16:03          Goias    Sao Paulo           4-2-3-1          4-1-2-1-2      J. Ribeiro Ventura              R. Ceni      Sao Paulo          Estádio da Serrinha                0                 4              GO               SP
16049        8025        38      Sao Paulo      13               7           65%     591             90%      14               1                0             0           4        38  13/11/2022  16:03          Goias    Sao Paulo           4-2-3-1          4-1-2-1-2      J. Ribeiro Ventura              R. Ceni      Sao Paulo          Estádio da Serrinha                0                 4              GO               SP

In [102]:
df.columns

Index(['partida_id', 'rodada_x', 'clube', 'chutes', 'chutes_no_alvo', 'posse_de_bola', 'passes', 'precisao_passes', 'faltas', 'cartao_amarelo', 'cartao_vermelho', 'impedimentos', 'escanteios', 'rodada_y', 'data', 'hora', 'mandante', 'visitante', 'formacao_mandante', 'formacao_visitante', 'tecnico_mandante', 'tecnico_visitante', 'vencedor', 'arena', 'mandante_Placar', 'visitante_Placar', 'mandante_Estado', 'visitante_Estado'], dtype='object')

In [103]:
df.drop(columns=['rodada_y','hora','arena','visitante_Estado','mandante_Estado','tecnico_mandante','tecnico_visitante'],inplace=True)

In [104]:
#Converte a data do tipo objeto para o tipo datetime e cria a coluna ano
df["data"] = pd.to_datetime(df["data"],format='%d/%m/%Y',dayfirst=True)
df["ano"] = df["data"].dt.year

In [105]:
#temporada de 2020 e 2021 foi afetada pelo COVID-19, realizando ajuste
df.loc[(df["data"]>="2020/08/08") & (df["data"]<="2021/02/25"),"ano" ] = 2020
df.loc[(df["data"]>="2021/05/29") & (df["data"]<="2021/12/09"),"ano" ] = 2021

In [106]:
#Validando alteração anterior
df[(df["ano"]==2020)].data.unique()

array(['2020-08-08T00:00:00.000000000', '2020-08-09T00:00:00.000000000',
       '2020-08-12T00:00:00.000000000', '2020-08-13T00:00:00.000000000',
       '2020-08-15T00:00:00.000000000', '2020-08-16T00:00:00.000000000',
       '2020-08-19T00:00:00.000000000', '2020-08-20T00:00:00.000000000',
       '2020-08-22T00:00:00.000000000', '2020-08-23T00:00:00.000000000',
       '2020-08-26T00:00:00.000000000', '2020-08-29T00:00:00.000000000',
       '2020-08-30T00:00:00.000000000', '2020-09-02T00:00:00.000000000',
       '2020-09-03T00:00:00.000000000', '2020-09-05T00:00:00.000000000',
       '2020-09-06T00:00:00.000000000', '2020-09-09T00:00:00.000000000',
       '2020-09-10T00:00:00.000000000', '2020-09-12T00:00:00.000000000',
       '2020-09-13T00:00:00.000000000', '2020-09-16T00:00:00.000000000',
       '2020-09-19T00:00:00.000000000', '2020-09-20T00:00:00.000000000',
       '2020-09-23T00:00:00.000000000', '2020-09-26T00:00:00.000000000',
       '2020-09-27T00:00:00.000000000', '2020-09-28T00:00:00.000000000',
       '2020-09-30T00:00:00.000000000', '2020-10-03T00:00:00.000000000',
       '2020-10-04T00:00:00.000000000', '2020-10-07T00:00:00.000000000',
       '2020-10-08T00:00:00.000000000', '2020-10-10T00:00:00.000000000',
       '2020-10-11T00:00:00.000000000', '2020-10-13T00:00:00.000000000',
       '2020-10-14T00:00:00.000000000', '2020-10-15T00:00:00.000000000',
       '2020-10-16T00:00:00.000000000', '2020-10-17T00:00:00.000000000',
       '2020-10-18T00:00:00.000000000', '2020-10-19T00:00:00.000000000',
       '2020-10-21T00:00:00.000000000', '2020-10-24T00:00:00.000000000',
       '2020-10-25T00:00:00.000000000', '2020-10-31T00:00:00.000000000',
       '2020-11-01T00:00:00.000000000', '2020-11-02T00:00:00.000000000',
       '2020-11-07T00:00:00.000000000', '2020-11-08T00:00:00.000000000',
       '2020-11-11T00:00:00.000000000', '2020-11-14T00:00:00.000000000',
       '2020-11-16T00:00:00.000000000', '2020-11-18T00:00:00.000000000',
       '2020-11-19T00:00:00.000000000', '2020-11-20T00:00:00.000000000',
       '2020-11-21T00:00:00.000000000', '2020-11-22T00:00:00.000000000',
       '2020-11-23T00:00:00.000000000', '2020-11-25T00:00:00.000000000',
       '2020-11-26T00:00:00.000000000', '2020-11-28T00:00:00.000000000',
       '2020-11-30T00:00:00.000000000', '2020-12-02T00:00:00.000000000',
       '2020-12-03T00:00:00.000000000', '2020-12-05T00:00:00.000000000',
       '2020-12-06T00:00:00.000000000', '2020-12-07T00:00:00.000000000',
       '2020-12-09T00:00:00.000000000', '2020-12-12T00:00:00.000000000',
       '2020-12-13T00:00:00.000000000', '2020-12-16T00:00:00.000000000',
       '2020-12-19T00:00:00.000000000', '2020-12-20T00:00:00.000000000',
       '2020-12-21T00:00:00.000000000', '2020-12-26T00:00:00.000000000',
       '2020-12-27T00:00:00.000000000', '2021-01-06T00:00:00.000000000',
       '2021-01-07T00:00:00.000000000', '2021-01-09T00:00:00.000000000',
       '2021-01-10T00:00:00.000000000', '2021-01-11T00:00:00.000000000',
       '2021-01-13T00:00:00.000000000', '2021-01-15T00:00:00.000000000',
       '2021-01-16T00:00:00.000000000', '2021-01-17T00:00:00.000000000',
       '2021-01-18T00:00:00.000000000', '2021-01-20T00:00:00.000000000',
       '2021-01-21T00:00:00.000000000', '2021-01-23T00:00:00.000000000',
       '2021-01-24T00:00:00.000000000', '2021-01-25T00:00:00.000000000',
       '2021-01-26T00:00:00.000000000', '2021-01-28T00:00:00.000000000',
       '2021-01-31T00:00:00.000000000', '2021-02-01T00:00:00.000000000',
       '2021-02-02T00:00:00.000000000', '2021-02-03T00:00:00.000000000',
       '2021-02-04T00:00:00.000000000', '2021-02-05T00:00:00.000000000',
       '2021-02-06T00:00:00.000000000', '2021-02-07T00:00:00.000000000',
       '2021-02-08T00:00:00.000000000', '2021-02-10T00:00:00.000000000',
       '2021-02-13T00:00:00.000000000', '2021-02-14T00:00:00.000000000',
       '2021-02-15T00:00:00.000000000', '2021-02-17T00:00:00.000000000',
       '2021-02-19T00:00:00.000000000', '2021-02-20T00:00:00.000000000',
       '2021-02-21T00:00:00.000000000', '2021-02-22T00:00:00.000000000',
       '2021-02-25T00:00:00.000000000'], dtype='datetime64[ns]')

In [115]:
df.tail()

       partida_id  rodada_x          clube  chutes  chutes_no_alvo posse_de_bola  passes precisao_passes  faltas  cartao_amarelo  cartao_vermelho  impedimentos  escanteios       data       mandante    visitante formacao_mandante formacao_visitante vencedor  mandante_Placar  visitante_Placar   ano mv
16045        8023        38    Atletico-MG      17               7           41%     351             82%      19               6                0             0           4 2022-11-13    Corinthians  Atletico-MG           4-1-4-1            4-2-3-1        V                0                 1  2022  v
16046        8024        38  Internacional      15               8           48%     287             77%      13               2                0             1           6 2022-11-13  Internacional    Palmeiras           4-2-3-1            4-2-3-1        V                3                 0  2022  m
16047        8024        38      Palmeiras      11               2           52%     306             82%      17               3                0             2           5 2022-11-13  Internacional    Palmeiras           4-2-3-1            4-2-3-1        D                3                 0  2022  v
16048        8025        38          Goias       6               2           35%     330             80%      12               2                0             1           3 2022-11-13          Goias    Sao Paulo           4-2-3-1          4-1-2-1-2        D                0                 4  2022  m
16049        8025        38      Sao Paulo      13               7           65%     591             90%      14               1                0             0           4 2022-11-13          Goias    Sao Paulo           4-2-3-1          4-1-2-1-2        V                0                 4  2022  v

In [112]:
df.vencedor.unique()

array(['V', 'D', 'E'], dtype=object)

In [109]:
df.loc[(df['vencedor']==df['clube']),'vencedor'] = 'V'
df.loc[(df['vencedor']=='-'),'vencedor'] = 'E'
df.loc[(df['vencedor']!='V') & (df['vencedor']!='E'),'vencedor'] = 'D'

In [114]:
df.loc[(df['clube'] == df['mandante']),'mv'] = 'm'
df.loc[(df['clube'] == df['visitante']),'mv'] = 'v'

In [110]:
#innerjoin = pd.merge(df,df_estatisticas,right_on='partida_id' ,left_on='ID',how='inner')
#innerjoin[(innerjoin['ID'] == 8017)]

In [111]:
df_2020_2022.loc[(df_2020_2022.clube == df_2020_2022.mandante),'mandate_'] = 1
df_2020_2022.loc[(df_2020_2022.clube == df_2020_2022.visitante),'visitante_'] = 1

df_2020_2022.loc[(df_2020_2022.clube == df_2020_2022.vencedor),'resultado'] = 1
df_2020_2022.loc[(df_2020_2022.vencedor == '-'),'resultado'] = 3

df_2020_2022['mandate_'].fillna(value=0, inplace=True)
df_2020_2022['visitante_'].fillna(value=0, inplace=True)
df_2020_2022['resultado'].fillna(value=2, inplace=True)


df_2020_2022 = df_2020_2022.drop('mandante',axis=1)
df_2020_2022 = df_2020_2022.drop('visitante',axis=1)
df_2020_2022 = df_2020_2022.drop('vencedor',axis=1)


df_2020_2022.info()

NameError: ignored

In [ ]:
df_2020_2022[['partida_id','clube','data','mandate_','visitante_','resultado']]

In [ ]:
manda = df_2020_2022.loc[(df_2020_2022['mandate_']==1)]
visit = df_2020_2022.loc[(df_2020_2022['visitante_']==1)]

In [ ]:
empate_m = len(manda[manda.resultado==3])
vitoria_m = len(manda[manda.resultado==1])
derrota_m = len(manda[manda.resultado==2])
val_m = [vitoria_m,empate_m,derrota_m]

In [ ]:
empate_v = len(visit[visit.resultado==3])
vitoria_v = len(visit[visit.resultado==1])
derrota_v = len(visit[visit.resultado==2])
val_v = [vitoria_v,empate_v,derrota_v]

In [ ]:
x = np.arange(3)
plt.title("Resultados dos Mandantes")
plt.bar(x, val_m)
plt.xticks(x, ('Vitoria', 'Empate', 'Derrota'))
plt.show()

In [ ]:
x = np.arange(3)
plt.title("Resultados dos Visitante")
plt.bar(x, val_v)
plt.xticks(x, ('Vitoria', 'Empate', 'Derrota'))
plt.show()

In [ ]:
print("Media de Passes de um Time Mandante Vitorioso : " , manda[manda.resultado==1].passes.mean())
print("Média de Passes  de um Time Mandante Derrotado: " , manda[manda.resultado==2].passes.mean())
print("Média de Passes  de um Time Mandante EMPATE: " , manda[manda.resultado==3].passes.mean())
print()
print("#################")
print()
print("Media de Passes  de um Time Visitante Vitorioso: ",visit[visit.resultado==1].passes.mean())
print("Média de Passes  de um Time Visitante Derrotado: " , visit[visit.resultado==2].passes.mean())
print("Média de Passes  de um Time Visitante EMPATE: " , visit[visit.resultado==3].passes.mean())

In [ ]:
print("Media de chutes de um Time Mandante Vitorioso : " , manda[manda.resultado==1].chutes.mean())
print("Média de chutes de um Time Mandante Derrotado: " , manda[manda.resultado==2].chutes.mean())
print("Média de chutes de um Time Mandante EMPATE: " , manda[manda.resultado==3].chutes.mean())
print()
print("#################")
print()
print("Media de chutes de um Time Visitante Vitorioso: ",visit[visit.resultado==1].chutes.mean())
print("Média de chutes de um Time Visitante Derrotado: " , visit[visit.resultado==2].chutes.mean())
print("Média de chutes de um Time Visitante EMPATE: " , visit[visit.resultado==3].chutes.mean())

In [ ]:
manda