In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_estatisticas = pd.read_csv('dados/campeonato-brasileiro-estatisticas-full.csv', sep=',',encoding = "UTF-8")
df_jogos = pd.read_csv('dados/campeonato-brasileiro-full.csv', sep=',',encoding = "UTF-8")

In [7]:
df_jogos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8025 entries, 0 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8025 non-null   int64
 1   rodata              8025 non-null   int64
 2   data                8025 non-null   object
 3   hora                8025 non-null   object
 4   mandante            8025 non-null   object
 5   visitante           8025 non-null   object
 6   formacao_mandante   3051 non-null   object
 7   formacao_visitante  3051 non-null   object
 8   tecnico_mandante    3415 non-null   object
 9   tecnico_visitante   3415 non-null   object
 10  vencedor            8025 non-null   object
 11  arena               8025 non-null   object
 12  mandante_Placar     8025 non-null   int64
 13  visitante_Placar    8025 non-null   int64
 14  mandante_Estado     8025 non-null   object
 15  visitante_Estado    8025 non-null   object
dtypes: int64(4), object(12)
memory usage: 1003.2+ KB

In [8]:
df_estatisticas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16050 entries, 0 to 16049
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   partida_id       16050 non-null  int64
 1   rodata           16050 non-null  int64
 2   clube            16050 non-null  object
 3   chutes           16050 non-null  int64
 4   chutes_no_alvo   16050 non-null  int64
 5   posse_de_bola    6838 non-null   object
 6   passes           16050 non-null  int64
 7   precisao_passes  6838 non-null   object
 8   faltas           16050 non-null  int64
 9   cartao_amarelo   16050 non-null  int64
 10  cartao_vermelho  16050 non-null  int64
 11  impedimentos     16050 non-null  int64
 12  escanteios       16050 non-null  int64
dtypes: int64(10), object(3)
memory usage: 1.6+ MB

In [5]:
#innerjoin = pd.merge(df,df_estatisticas,right_on='partida_id' ,left_on='ID',how='inner')
#innerjoin[(innerjoin['ID'] == 8017)]

In [9]:
dfT = df_jogos[['ID','vencedor','data']]

In [12]:
innerjoin = pd.merge(df_estatisticas,df_jogos,how='inner', left_on='partida_id',right_on='ID' )

In [16]:
innerjoin.isna().sum()

partida_id               0
rodata_x                 0
clube                    0
chutes                   0
chutes_no_alvo           0
posse_de_bola         9212
passes                   0
precisao_passes       9212
faltas                   0
cartao_amarelo           0
cartao_vermelho          0
impedimentos             0
escanteios               0
ID                       0
rodata_y                 0
data                     0
hora                     0
mandante                 0
visitante                0
formacao_mandante     9948
formacao_visitante    9948
tecnico_mandante      9220
tecnico_visitante     9220
vencedor                 0
arena                    0
mandante_Placar          0
visitante_Placar         0
mandante_Estado          0
visitante_Estado         0
dtype: int64

In [17]:
innerjoin.shape

(16050, 29)