Obtenção e Transformação 

---

In [159]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [160]:
#Definição de configurações de dataframes
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.precision', 4)
pd.set_option('display.expand_frame_repr', True)

In [161]:
#Configurando os plots para serem emandanteibidos diretamente no notebook
%matplotlib inline

In [162]:
#df_jogos = pd.read_csv('dados/campeonato-brasileiro-full.csv',sep=',',encoding = "UTF-8")
#df_estatisticas = pd.read_csv('dados/campeonato-brasileiro-estatisticas-full.csv', sep=',',encoding = "UTF-8")

In [163]:
df_jogos = pd.read_csv('/content/campeonato-brasileiro-full.csv',sep=',',encoding = "UTF-8")
df_estatisticas = pd.read_csv('/content/campeonato-brasileiro-estatisticas-full.csv', sep=',',encoding = "UTF-8")

In [164]:
#colocando todas as colunas em minusculo
df_jogos.columns = df_jogos.columns.str.lower()
df_estatisticas.columns = df_estatisticas.columns.str.lower()

In [165]:
df_jogos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8025 entries, 0 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  8025 non-null   int64
 1   rodata              8025 non-null   int64
 2   data                8025 non-null   object
 3   hora                8025 non-null   object
 4   mandante            8025 non-null   object
 5   visitante           8025 non-null   object
 6   formacao_mandante   3051 non-null   object
 7   formacao_visitante  3051 non-null   object
 8   tecnico_mandante    3415 non-null   object
 9   tecnico_visitante   3415 non-null   object
 10  vencedor            8025 non-null   object
 11  arena               8025 non-null   object
 12  mandante_placar     8025 non-null   int64
 13  visitante_placar    8025 non-null   int64
 14  mandante_estado     8025 non-null   object
 15  visitante_estado    8025 non-null   object
dtypes: int64(4), object(12)
memory usage: 1003.2+ KB

In [166]:
df_jogos.rename(columns={'id':'partida_id'},inplace=True)
df_jogos.rename(columns={'rodata':'rodada'},inplace=True)

In [167]:
df_estatisticas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16050 entries, 0 to 16049
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   partida_id       16050 non-null  int64
 1   rodata           16050 non-null  int64
 2   clube            16050 non-null  object
 3   chutes           16050 non-null  int64
 4   chutes_no_alvo   16050 non-null  int64
 5   posse_de_bola    6838 non-null   object
 6   passes           16050 non-null  int64
 7   precisao_passes  6838 non-null   object
 8   faltas           16050 non-null  int64
 9   cartao_amarelo   16050 non-null  int64
 10  cartao_vermelho  16050 non-null  int64
 11  impedimentos     16050 non-null  int64
 12  escanteios       16050 non-null  int64
dtypes: int64(10), object(3)
memory usage: 1.6+ MB

In [168]:
# left join dos dados de mandante
dfmandante = pd.merge(df_jogos,df_estatisticas,how='left',right_on=['partida_id','clube'],left_on=['partida_id','mandante'])

In [169]:
# left join dos dados de mandante
df = pd.merge(dfmandante,df_estatisticas,how='left',right_on=['partida_id','clube'],left_on=['partida_id','visitante'])

In [170]:
# renomenando as colunas de mandante e visitante
df.columns = ['partida_id', 'rodada', 'data', 'hora', 'mandante', 'visitante', 'formacao_mandante', 'formacao_visitante', 'tecnico_mandante', 'tecnico_visitante', 'vencedor', 'arena', 'mandante_placar', 'visitante_placar', 'mandante_estado', 'visitante_estado', 'rodata_mandante', 'clube_mandante', 'chutes_mandante', 'chutes_no_alvo_mandante', 'posse_de_bola_mandante', 'passes_mandante', 'precisao_passes_mandante', 'faltas_mandante', 'cartao_amarelo_mandante', 'cartao_vermelho_mandante', 'impedimentos_mandante', 'escanteios_mandante', 'rodata_visitante', 'clube_visitante', 'chutes_visitante', 'chutes_no_alvo_visitante', 'posse_de_bola_visitante', 'passes_visitante', 'precisao_passes_visitante', 'faltas_visitante', 'cartao_amarelo_visitante', 'cartao_vermelho_visitante', 'impedimentos_visitante', 'escanteios_visitante']

In [171]:
df.set_index("partida_id",inplace=True,drop=False)
df.tail()

            partida_id  rodada        data   hora       mandante    visitante formacao_mandante formacao_visitante        tecnico_mandante    tecnico_visitante       vencedor                        arena  mandante_placar  visitante_placar mandante_estado visitante_estado  rodata_mandante clube_mandante  chutes_mandante  chutes_no_alvo_mandante posse_de_bola_mandante  passes_mandante precisao_passes_mandante  faltas_mandante  cartao_amarelo_mandante  cartao_vermelho_mandante  impedimentos_mandante  escanteios_mandante  rodata_visitante clube_visitante  chutes_visitante  chutes_no_alvo_visitante posse_de_bola_visitante  passes_visitante precisao_passes_visitante  faltas_visitante  cartao_amarelo_visitante  cartao_vermelho_visitante  impedimentos_visitante  escanteios_visitante
partida_id
8021              8021      38  13/11/2022  16:03         Cuiaba     Coritiba           4-1-4-1            4-1-4-1  A. Cardoso de Oliveira          A. Ferreira         Cuiaba               Arena Pantanal                2                 1              MT               PR               38         Cuiaba               17                        8                    57%              505                      88%                9                        1                         0                      2                    8                38        Coritiba                 4                         2                     43%               389                       82%                 8                         3                          1                       2                     1
8022              8022      38  13/11/2022  16:03     Bragantino   Fluminense           4-2-3-1            4-2-3-1    M. Nogueira Barbieri       F. Diniz Silva     Fluminense                      Nabizão                0                 1              SP               RJ               38     Bragantino               13                        4                    41%              319                      77%               16                        3                         0                      5                    4                38      Fluminense                 8                         4                     59%               463                       82%                15                         2                          0                       0                     9
8023              8023      38  13/11/2022  16:03    Corinthians  Atletico-MG           4-1-4-1            4-2-3-1  F. J. Monteiro Almeida            A. Stival    Atletico-MG            Neo Química Arena                0                 1              SP               MG               38    Corinthians               17                        4                    59%              494                      84%               11                        3                         0                      1                    5                38     Atletico-MG                17                         7                     41%               351                       82%                19                         6                          0                       0                     4
8024              8024      38  13/11/2022  16:03  Internacional    Palmeiras           4-2-3-1            4-2-3-1    L. Venker de Menezes  A. Moreira Ferreira  Internacional  Estádio José Pinheiro Borda                3                 0              RS               SP               38  Internacional               15                        8                    48%              287                      77%               13                        2                         0                      1                    6                38       Palmeiras                11                         2                     52%               306                       82%                17                         3                          0                       2                     5
8025              8025      38  13/11/2022  16:03          Goias    Sao Paulo           4-2-3-1          4-1-2-1-2      J. Ribeiro Ventura              R. Ceni      Sao Paulo          Estádio da Serrinha                0                 4              GO               SP               38          Goias                6                        2                    35%              330                      80%               12                        2                         0                      1                    3                38       Sao Paulo                13                         7                     65%               591                       90%                14                         1                          0                       0                     4

In [172]:
#Converte a data do tipo objeto para o tipo datetime e cria a coluna ano
df["data"] = pd.to_datetime(df["data"],format='%d/%m/%Y',dayfirst=True)

In [173]:
df["ano"] = df["data"].dt.year

In [174]:
df.loc[(df["data"]>="2020/08/08") & (df["data"]<="2021/02/25"),"ano" ] = 2020
df.loc[(df["data"]>="2021/05/29") & (df["data"]<="2021/12/09"),"ano" ] = 2021
df.rename(columns={'ano':'temporada'},inplace=True)

In [175]:
#copia do dataframe para o df2, para manter o original df
df2 = df.copy(deep=True)

In [176]:
df2 = df[df['temporada']>=2018]

# Verificando que não há dados NAN no dataset
df2.isna().sum()

partida_id                   0
rodada                       0
data                         0
hora                         0
mandante                     0
visitante                    0
formacao_mandante            0
formacao_visitante           0
tecnico_mandante             0
tecnico_visitante            0
vencedor                     0
arena                        0
mandante_placar              0
visitante_placar             0
mandante_estado              0
visitante_estado             0
rodata_mandante              0
clube_mandante               0
chutes_mandante              0
chutes_no_alvo_mandante      0
posse_de_bola_mandante       0
passes_mandante              0
precisao_passes_mandante     0
faltas_mandante              0
cartao_amarelo_mandante      0
cartao_vermelho_mandante     0
impedimentos_mandante        0
escanteios_mandante          0
rodata_visitante             0
clube_visitante              0
chutes_visitante             0
chutes_no_alvo_visitante     0
posse_de_bola_visitante      0
passes_visitante             0
precisao_passes_visitante    0
faltas_visitante             0
cartao_amarelo_visitante     0
cartao_vermelho_visitante    0
impedimentos_visitante       0
escanteios_visitante         0
temporada                    0
dtype: int64

In [177]:
#Definindo colunas de vitorias e derrotas e empates mandante/visitante
df2['resultado'] = df2.apply(lambda x: 1 if x["vencedor"] == x["mandante"] else 2 if x["vencedor"] == x["visitante"] else 3 if x["vencedor"] == '-' else 9999  ,axis=1)
#df['resultado'] = df.apply(lambda x: 2 if x["vencedor"] == x["visitante"] else 0,axis=1)
#df['resultado'] = df.apply(lambda x: 3 if x["vencedor"] == '-' else 5,axis=1)
df2['resultado']

<ipython-input-177-6c847af1e8af>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['resultado'] = df2.apply(lambda x: 1 if x["vencedor"] == x["mandante"] else 2 if x["vencedor"] == x["visitante"] else 3 if x["vencedor"] == '-' else 9999  ,axis=1)

partida_id
6126    2
6127    3
6128    1
6129    1
6130    1
       ..
8021    1
8022    2
8023    2
8024    1
8025    2
Name: resultado, Length: 1900, dtype: int64

In [178]:
#df2018_2022['chutes'] = df2018_2022['chutes'].astype('Int64')

df2['posse_de_bola_mandante'] = df2['posse_de_bola_mandante'].replace({'%': ''}, regex=True)
df2['precisao_passes_mandante'] = df2['precisao_passes_mandante'].replace({'%': ''}, regex=True)
df2['posse_de_bola_visitante'] = df2['posse_de_bola_visitante'].replace({'%': ''}, regex=True)
df2['precisao_passes_visitante'] = df2['precisao_passes_visitante'].replace({'%': ''}, regex=True)

<ipython-input-178-98ade900d3a3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['posse_de_bola_mandante'] = df2['posse_de_bola_mandante'].replace({'%': ''}, regex=True)
<ipython-input-178-98ade900d3a3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precisao_passes_mandante'] = df2['precisao_passes_mandante'].replace({'%': ''}, regex=True)
<ipython-input-178-98ade900d3a3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['posse_de_bola_visitante'] = df2['posse_de_bola_visitante'].replace({'%': ''}, regex=True)
<ipython-input-178-98ade900d3a3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precisao_passes_visitante'] = df2['precisao_passes_visitante'].replace({'%': ''}, regex=True)

In [179]:
# Substitui valores ausentes ou 'None' por NaN
df2['posse_de_bola_mandante'] = df2['posse_de_bola_mandante'].replace({'None': np.nan})
df2['precisao_passes_mandante']= df2['precisao_passes_mandante'].replace({'None': np.nan})
df2['posse_de_bola_visitante'] = df2['posse_de_bola_visitante'].replace({'None': np.nan})
df2['precisao_passes_visitante'] = df2['precisao_passes_visitante'].replace({'None': np.nan})

# convertendo o percentual para numero
df2['posse_de_bola_mandante'] = df2['posse_de_bola_mandante'].astype('Int64') /100
df2['precisao_passes_mandante'] = df2['precisao_passes_mandante'].astype('Int64') /100
df2['posse_de_bola_visitante'] = df2['posse_de_bola_visitante'].astype('Int64') /100
df2['precisao_passes_visitante'] = df2['precisao_passes_visitante'].astype('Int64') /100

<ipython-input-179-968eb19e67e5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['posse_de_bola_mandante'] = df2['posse_de_bola_mandante'].replace({'None': np.nan})
<ipython-input-179-968eb19e67e5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precisao_passes_mandante']= df2['precisao_passes_mandante'].replace({'None': np.nan})
<ipython-input-179-968eb19e67e5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['posse_de_bola_visitante'] = df2['posse_de_bola_visitante'].replace({'None': np.nan})
<ipython-input-179-968eb19e67e5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precisao_passes_visitante'] = df2['precisao_passes_visitante'].replace({'None': np.nan})
<ipython-input-179-968eb19e67e5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['posse_de_bola_mandante'] = df2['posse_de_bola_mandante'].astype('Int64') /100
<ipython-input-179-968eb19e67e5>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precisao_passes_mandante'] = df2['precisao_passes_mandante'].astype('Int64') /100
<ipython-input-179-968eb19e67e5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['posse_de_bola_visitante'] = df2['posse_de_bola_visitante'].astype('Int64') /100
<ipython-input-179-968eb19e67e5>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precisao_passes_visitante'] = df2['precisao_passes_visitante'].astype('Int64') /100

In [180]:
df2.tail()

            partida_id  rodada       data   hora       mandante    visitante formacao_mandante formacao_visitante        tecnico_mandante    tecnico_visitante       vencedor                        arena  mandante_placar  visitante_placar mandante_estado visitante_estado  rodata_mandante clube_mandante  chutes_mandante  chutes_no_alvo_mandante  posse_de_bola_mandante  passes_mandante  precisao_passes_mandante  faltas_mandante  cartao_amarelo_mandante  cartao_vermelho_mandante  impedimentos_mandante  escanteios_mandante  rodata_visitante clube_visitante  chutes_visitante  chutes_no_alvo_visitante  posse_de_bola_visitante  passes_visitante  precisao_passes_visitante  faltas_visitante  cartao_amarelo_visitante  cartao_vermelho_visitante  impedimentos_visitante  escanteios_visitante  temporada  resultado
partida_id
8021              8021      38 2022-11-13  16:03         Cuiaba     Coritiba           4-1-4-1            4-1-4-1  A. Cardoso de Oliveira          A. Ferreira         Cuiaba               Arena Pantanal                2                 1              MT               PR               38         Cuiaba               17                        8                    0.57              505                      0.88                9                        1                         0                      2                    8                38        Coritiba                 4                         2                     0.43               389                       0.82                 8                         3                          1                       2                     1       2022          1
8022              8022      38 2022-11-13  16:03     Bragantino   Fluminense           4-2-3-1            4-2-3-1    M. Nogueira Barbieri       F. Diniz Silva     Fluminense                      Nabizão                0                 1              SP               RJ               38     Bragantino               13                        4                    0.41              319                      0.77               16                        3                         0                      5                    4                38      Fluminense                 8                         4                     0.59               463                       0.82                15                         2                          0                       0                     9       2022          2
8023              8023      38 2022-11-13  16:03    Corinthians  Atletico-MG           4-1-4-1            4-2-3-1  F. J. Monteiro Almeida            A. Stival    Atletico-MG            Neo Química Arena                0                 1              SP               MG               38    Corinthians               17                        4                    0.59              494                      0.84               11                        3                         0                      1                    5                38     Atletico-MG                17                         7                     0.41               351                       0.82                19                         6                          0                       0                     4       2022          2
8024              8024      38 2022-11-13  16:03  Internacional    Palmeiras           4-2-3-1            4-2-3-1    L. Venker de Menezes  A. Moreira Ferreira  Internacional  Estádio José Pinheiro Borda                3                 0              RS               SP               38  Internacional               15                        8                    0.48              287                      0.77               13                        2                         0                      1                    6                38       Palmeiras                11                         2                     0.52               306                       0.82                17                         3                          0                       2                     5       2022          1
8025              8025      38 2022-11-13  16:03          Goias    Sao Paulo           4-2-3-1          4-1-2-1-2      J. Ribeiro Ventura              R. Ceni      Sao Paulo          Estádio da Serrinha                0                 4              GO               SP               38          Goias                6                        2                    0.35              330                       0.8               12                        2                         0                      1                    3                38       Sao Paulo                13                         7                     0.65               591                        0.9                14                         1                          0                       0                     4       2022          2

In [181]:
df2.drop(columns=['data','hora',"tecnico_mandante","tecnico_visitante","vencedor","arena",'mandante_estado','visitante_estado','rodata_mandante'],inplace=True)

<ipython-input-181-f9c9a9bae775>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(columns=['data','hora',"tecnico_mandante","tecnico_visitante","vencedor","arena",'mandante_estado','visitante_estado','rodata_mandante'],inplace=True)

In [182]:
df2['posse_de_bola_mandante'].fillna(value=0, inplace=True)
df2['precisao_passes_mandante'].fillna(value=0, inplace=True)
df2['posse_de_bola_visitante'].fillna(value=0, inplace=True)      
df2['precisao_passes_visitante'].fillna(value=0, inplace=True)

<ipython-input-182-5008e735afb4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['posse_de_bola_mandante'].fillna(value=0, inplace=True)
<ipython-input-182-5008e735afb4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precisao_passes_mandante'].fillna(value=0, inplace=True)
<ipython-input-182-5008e735afb4>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['posse_de_bola_visitante'].fillna(value=0, inplace=True)
<ipython-input-182-5008e735afb4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['precisao_passes_visitante'].fillna(value=0, inplace=True)

In [183]:
df2.isna().sum()

partida_id                   0
rodada                       0
mandante                     0
visitante                    0
formacao_mandante            0
formacao_visitante           0
mandante_placar              0
visitante_placar             0
clube_mandante               0
chutes_mandante              0
chutes_no_alvo_mandante      0
posse_de_bola_mandante       0
passes_mandante              0
precisao_passes_mandante     0
faltas_mandante              0
cartao_amarelo_mandante      0
cartao_vermelho_mandante     0
impedimentos_mandante        0
escanteios_mandante          0
rodata_visitante             0
clube_visitante              0
chutes_visitante             0
chutes_no_alvo_visitante     0
posse_de_bola_visitante      0
passes_visitante             0
precisao_passes_visitante    0
faltas_visitante             0
cartao_amarelo_visitante     0
cartao_vermelho_visitante    0
impedimentos_visitante       0
escanteios_visitante         0
temporada                    0
resultado                    0
dtype: int64

In [184]:
df2[(df2['temporada']<=2020)]

            partida_id  rodada     mandante    visitante formacao_mandante formacao_visitante  mandante_placar  visitante_placar clube_mandante  chutes_mandante  chutes_no_alvo_mandante  posse_de_bola_mandante  passes_mandante  precisao_passes_mandante  faltas_mandante  cartao_amarelo_mandante  cartao_vermelho_mandante  impedimentos_mandante  escanteios_mandante  rodata_visitante clube_visitante  chutes_visitante  chutes_no_alvo_visitante  posse_de_bola_visitante  passes_visitante  precisao_passes_visitante  faltas_visitante  cartao_amarelo_visitante  cartao_vermelho_visitante  impedimentos_visitante  escanteios_visitante  temporada  resultado
partida_id
6126              6126       1     Cruzeiro       Gremio           4-2-3-1            4-2-3-1                0                 1       Cruzeiro               12                        2                     0.4              425                      0.81               20                        3                         0                      0                    7                 1          Gremio                 6                         2                      0.6               649                       0.86                15                         1                          1                       3                     4       2018          2
6127              6127       1      Vitoria     Flamengo           4-2-3-1            4-1-4-1                2                 2        Vitoria               21                        6                    0.66              545                      0.88               24                        3                         0                      2                    4                 1        Flamengo                10                         5                     0.34               286                       0.72                10                         2                          1                       2                     5       2018          3
6128              6128       1       Santos        Ceara             4-3-3            4-1-4-1                2                 0         Santos               22                        3                    0.54              532                       0.9                7                        0                         0                      1                    4                 1           Ceara                10                         2                     0.46               472                       0.85                 5                         1                          0                       0                     2       2018          1
6129              6129       1   America-MG        Sport           4-1-4-1            4-3-2-1                3                 0     America-MG               14                        4                    0.38              363                      0.76               11                        1                         0                      4                    2                 1           Sport                15                         5                     0.62               580                       0.85                12                         3                          0                       3                     6       2018          1
6130              6130       1        Vasco  Atletico-MG           4-1-4-1            4-1-4-1                2                 1          Vasco               19                        7                    0.67              596                      0.88               11                        4                         0                      3                    9                 1     Atletico-MG                11                         6                     0.33               321                       0.78                18                         3                          0                       3                     3       2018          1
...                ...     ...          ...          ...               ...                ...              ...               ...            ...              ...                      ...                     ...              ...                       ...              ...                      ...                       ...                    ...                  ...               ...             ...               ...                       ...                      ...               ...                        ...               ...                       ...                        ...                     ...                   ...        ...        ...
7261              7261      38        Ceara  Botafogo-RJ           4-2-3-1            4-2-3-1                2                 1          Ceara               12                        6                    0.47              469                      0.86                7                        2                         1                      0                    5                38     Botafogo-RJ                17                         3                     0.53               505                        0.9                 4                         0                          0                       2                     7       2020          1
7262              7262      38    Sao Paulo     Flamengo             3-5-2              4-4-2                2                 1      Sao Paulo                4                        2                    0.36              305                      0.74               27                        6                         0                      0                    1                38        Flamengo                20                         1                     0.64               510                       0.84                24                         3                          0                       2                     7       2020          1
7263              7263      38  Atletico-MG    Palmeiras             4-4-2            4-1-3-2                2                 0    Atletico-MG               19                        8                    0.52              451                      0.89               22                        3                         0                      5                    5                38       Palmeiras                 9                         4                     0.48               424                        0.8                17                         0                          0                       1                     4       2020          1
7264              7264      38        Vasco        Goias           4-1-4-1              4-4-2                3                 2          Vasco               27                       12                    0.48              390                      0.85               12                        1                         0                      2                    9                38           Goias                20                         5                     0.52               405                       0.84                18                         2                          0                       2                     6       2020          1
7265              7265      38   Fluminense    Fortaleza           4-2-3-1            4-2-3-1                2                 0     Fluminense                9                        3                    0.48              401                      0.86               10                        0                         0                      0                    3                38       Fortaleza                 9                         2                     0.52               422                       0.85                12                         0                          0                       1                     5       2020          1

[1140 rows x 33 columns]

In [185]:
df2.describe()

       partida_id     rodada  mandante_placar  visitante_placar  chutes_mandante  chutes_no_alvo_mandante  posse_de_bola_mandante  passes_mandante  precisao_passes_mandante  faltas_mandante  cartao_amarelo_mandante  cartao_vermelho_mandante  impedimentos_mandante  escanteios_mandante  rodata_visitante  chutes_visitante  chutes_no_alvo_visitante  posse_de_bola_visitante  passes_visitante  precisao_passes_visitante  faltas_visitante  cartao_amarelo_visitante  cartao_vermelho_visitante  impedimentos_visitante  escanteios_visitante  temporada  resultado
count   1900.0000  1900.0000        1900.0000         1900.0000        1900.0000                1900.0000               1900.0000        1900.0000                 1900.0000        1900.0000                1900.0000                 1900.0000              1900.0000            1900.0000         1900.0000         1900.0000                 1900.0000                1900.0000         1900.0000                  1900.0000         1900.0000                 1900.0000                  1900.0000               1900.0000             1900.0000  1900.0000  1900.0000
mean    7075.5000    19.5000           1.3700            0.9426          14.5174                   4.7368                  0.5085         429.5242                    0.8014          14.7937                   2.1684                    0.1089                 1.4721               5.8247           19.5000           11.1932                    3.6095                   0.4789          407.4516                     0.7871           14.5484                    2.2963                     0.1505                  1.3695                4.5489  2020.0000     1.8095
std      548.6271    10.9687           1.1425            0.9607           5.3446                   2.4784                  0.1221         114.5287                    0.1072           4.6351                   1.4071                    0.3407                 1.3722               3.2147           10.9687            4.5988                    2.0942                   0.1206          108.2465                     0.1077            4.6018                    1.4672                     0.3981                  1.2897                2.7160     1.4146     0.8485
min     6126.0000     1.0000           0.0000            0.0000           0.0000                   0.0000                  0.0000           0.0000                    0.0000           0.0000                   0.0000                    0.0000                 0.0000               0.0000            1.0000            0.0000                    0.0000                   0.0000            0.0000                     0.0000            0.0000                    0.0000                     0.0000                  0.0000                0.0000  2018.0000     1.0000
25%     6600.7500    10.0000           1.0000            0.0000          11.0000                   3.0000                  0.4300         357.0000                    0.7800          12.0000                   1.0000                    0.0000                 0.0000               4.0000           10.0000            8.0000                    2.0000                   0.4000          338.0000                     0.7600           12.0000                    1.0000                     0.0000                  0.0000                3.0000  2019.0000     1.0000
50%     7075.5000    19.5000           1.0000            1.0000          14.0000                   4.0000                  0.5200         429.0000                    0.8200          15.0000                   2.0000                    0.0000                 1.0000               5.0000           19.5000           11.0000                    3.0000                   0.4800          406.5000                     0.8100           14.0000                    2.0000                     0.0000                  1.0000                4.0000  2020.0000     2.0000
75%     7550.2500    29.0000           2.0000            1.0000          18.0000                   6.0000                  0.5900         504.0000                    0.8500          18.0000                   3.0000                    0.0000                 2.0000               8.0000           29.0000           14.0000                    5.0000                   0.5600          475.0000                     0.8400           18.0000                    3.0000                     0.0000                  2.0000                6.0000  2021.0000     3.0000
max     8025.0000    38.0000           6.0000            5.0000          37.0000                  16.0000                  0.8000         787.0000                    0.9300          30.0000                  10.0000                    3.0000                 9.0000              23.0000           38.0000           31.0000                   12.0000                   0.8000          848.0000                     0.9200           31.0000                    8.0000                     3.0000                  8.0000               18.0000  2022.0000     3.0000

In [187]:
#Identifiquei que havia valores zerados nos campos abaixo que não fazem sentido, por isso preencho a mediana para os campos zerados.

mpbm =  df2.posse_de_bola_mandante.median()
mpm =  df2.passes_mandante.median()
ppm = df2.precisao_passes_mandante.median()
cm = df2.chutes_mandante.median()
cam = df2.chutes_no_alvo_mandante.median()
cv = df2.chutes_visitante.median()
cav = df2.chutes_no_alvo_visitante.median()
pbv = df2.posse_de_bola_visitante.median()
pv = df2.passes_visitante.median()
ppv = df2.precisao_passes_visitante.median()


df2.posse_de_bola_mandante.replace(0, np.nan, inplace = True)
df2.passes_mandante.replace(0, np.nan, inplace = True)
df2.precisao_passes_mandante.replace(0, np.nan, inplace = True)
df2.chutes_visitante.replace(0, np.nan, inplace = True)
df2.chutes_mandante.replace(0, np.nan, inplace = True)
df2.chutes_no_alvo_visitante.replace(0, np.nan, inplace = True)
df2.chutes_no_alvo_mandante.replace(0, np.nan, inplace = True)
df2.posse_de_bola_visitante.replace(0, np.nan, inplace = True)
df2.passes_visitante.replace(0, np.nan, inplace = True)
df2.precisao_passes_visitante.replace(0, np.nan, inplace = True)


df2.fillna(mpbm,axis=1)
df2.fillna(mpm,axis=1)
df2.fillna(ppm,axis=1)
df2.fillna(cm,axis=1)
df2.fillna(cam,axis=1)
df2.fillna(cv,axis=1)
df2.fillna(cav,axis=1)
df2.fillna(pbv,axis=1)
df2.fillna(pv,axis=1)
df2.fillna(ppv,axis=1)


print("posse_de_bola_mandante: " , mpbm)
print("passes_mandante: " , mpm )
print("precisao_passes_mandante: " , ppm )
print("chutes_mandante: " , cm )
print("chutes_no_alvo_mandante: " , cam )
print("chutes_visitante: " , cv )
print("chutes_no_alvo_visitante: " , cav )
print("posse_de_bola_visitante" , pbv )
print("passes_visitante" , pv )
print("precisao_passes_visitante" , ppv )




#df[(df['passes_mandante']==0)]

<ipython-input-187-d5e070214248>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.posse_de_bola_mandante.replace(0, np.nan, inplace = True)
<ipython-input-187-d5e070214248>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.passes_mandante.replace(0, np.nan, inplace = True)
<ipython-input-187-d5e070214248>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.precisao_passes_mandante.replace(0, np.nan, inplace = True)
<ipython-input-187-d5e070214248>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.chutes_visitante.replace(0, np.nan, inplace = True)
<ipython-input-187-d5e070214248>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.chutes_mandante.replace(0, np.nan, inplace = True)
<ipython-input-187-d5e070214248>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.chutes_no_alvo_visitante.replace(0, np.nan, inplace = True)
<ipython-input-187-d5e070214248>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.chutes_no_alvo_mandante.replace(0, np.nan, inplace = True)
<ipython-input-187-d5e070214248>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.posse_de_bola_visitante.replace(0, np.nan, inplace = True)
<ipython-input-187-d5e070214248>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.passes_visitante.replace(0, np.nan, inplace = True)
<ipython-input-187-d5e070214248>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.precisao_passes_visitante.replace(0, np.nan, inplace = True)

posse_de_bola_mandante:  0.52
passes_mandante:  429.0
precisao_passes_mandante:  0.82
chutes_mandante:  14.0
chutes_no_alvo_mandante:  4.0
chutes_visitante:  11.0
chutes_no_alvo_visitante:  3.0
posse_de_bola_visitante 0.48
passes_visitante 406.5
precisao_passes_visitante 0.81

In [189]:
df2.describe()

       partida_id     rodada  mandante_placar  visitante_placar  chutes_mandante  chutes_no_alvo_mandante  posse_de_bola_mandante  passes_mandante  precisao_passes_mandante  faltas_mandante  cartao_amarelo_mandante  cartao_vermelho_mandante  impedimentos_mandante  escanteios_mandante  rodata_visitante  chutes_visitante  chutes_no_alvo_visitante  posse_de_bola_visitante  passes_visitante  precisao_passes_visitante  faltas_visitante  cartao_amarelo_visitante  cartao_vermelho_visitante  impedimentos_visitante  escanteios_visitante  temporada  resultado
count   1900.0000  1900.0000        1900.0000         1900.0000        1876.0000                1861.0000               1876.0000        1876.0000                 1876.0000        1900.0000                1900.0000                 1900.0000              1900.0000            1900.0000         1900.0000         1876.0000                 1811.0000                1876.0000         1876.0000                  1876.0000         1900.0000                 1900.0000                  1900.0000               1900.0000             1900.0000  1900.0000  1900.0000
mean    7075.5000    19.5000           1.3700            0.9426          14.7031                   4.8361                  0.5150         435.0192                    0.8117          14.7937                   2.1684                    0.1089                 1.4721               5.8247           19.5000           11.3364                    3.7869                   0.4850          412.6642                     0.7972           14.5484                    2.2963                     0.1505                  1.3695                4.5489  2020.0000     1.8095
std      548.6271    10.9687           1.1425            0.9607           5.1184                   2.4064                  0.1084         104.3696                    0.0576           4.6351                   1.4071                    0.3407                 1.3722               3.2147           10.9687            4.4492                    1.9822                   0.1084           98.5651                     0.0609            4.6018                    1.4672                     0.3981                  1.2897                2.7160     1.4146     0.8485
min     6126.0000     1.0000           0.0000            0.0000           2.0000                   1.0000                  0.2000         170.0000                    0.4000           0.0000                   0.0000                    0.0000                 0.0000               0.0000            1.0000            1.0000                    1.0000                   0.2000          173.0000                     0.3900            0.0000                    0.0000                     0.0000                  0.0000                0.0000  2018.0000     1.0000
25%     6600.7500    10.0000           1.0000            0.0000          11.0000                   3.0000                  0.4400         359.0000                    0.7800          12.0000                   1.0000                    0.0000                 0.0000               4.0000           10.0000            8.0000                    2.0000                   0.4000          341.0000                     0.7600           12.0000                    1.0000                     0.0000                  0.0000                3.0000  2019.0000     1.0000
50%     7075.5000    19.5000           1.0000            1.0000          14.0000                   5.0000                  0.5200         430.0000                    0.8200          15.0000                   2.0000                    0.0000                 1.0000               5.0000           19.5000           11.0000                    4.0000                   0.4800          408.0000                     0.8100           14.0000                    2.0000                     0.0000                  1.0000                4.0000  2020.0000     2.0000
75%     7550.2500    29.0000           2.0000            1.0000          18.0000                   6.0000                  0.6000         505.0000                    0.8500          18.0000                   3.0000                    0.0000                 2.0000               8.0000           29.0000           14.0000                    5.0000                   0.5600          476.2500                     0.8400           18.0000                    3.0000                     0.0000                  2.0000                6.0000  2021.0000     3.0000
max     8025.0000    38.0000           6.0000            5.0000          37.0000                  16.0000                  0.8000         787.0000                    0.9300          30.0000                  10.0000                    3.0000                 9.0000              23.0000           38.0000           31.0000                   12.0000                   0.8000          848.0000                     0.9200           31.0000                    8.0000                     3.0000                  8.0000               18.0000  2022.0000     3.0000

In [ ]:
#df2.to_csv("dados/df_transformado.csv",index=False,sep=',')