Projeto Final TCC de Ciênci de Dados

1) https://www.kaggle.com/datasets/adaoduque/campeonato-brasileiro-de-futebol?search=Futebol


1 ) Verificar quantidade de Vitorias/Derrotas/Empate do Clube (Botafogo, Vasco, Fluminense, Flamengo)
Exemplo: Quantidade de Vitorias ANO
Exemplo: Quantidade de Derrotas ANO
Exemplo: Quantidade de Empates ANO

2) Quais os Clubes são os Carrascos ( Qual Clube Adversario que mais ganhou do Clube Analisado , pode ser Média)

3) Quantidade de Gols Por Ano

4) Quantidade de Gols Sofrido por ano

5) Qual Clube Adversario tomou mais gol do clube analisado ( Pode ser por média Jogos x gols)

6) Total Geral de Média de Gols por ano, Média de Partidas vencidas por ano, Média de Partidas perdidas por ano e média de partidas empatadas por ano.



# Possibilidades
https://dadosabertos.camara.leg.br/swagger/api.html#api

https://github.com/henriquepgomide/caRtola/blob/master/data/01_raw/2022/rodada-0.csv

Pesquisa

https://www.kaggle.com/code/sslp23/modelo-de-previs-o-para-o-campeonato-brasileiro

In [40]:
#Instala Bibliotecas necessárias
#!pip install  pandas
#!pip install  numpy
#!pip install matplotlib
#!pip install --proxy http://user:pass@proxy:porta --upgrade numpy


#pip uninstall pandas -y

#pip uninstall numpy -y

In [41]:

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [42]:
#leitura do arquivo  csv do campeonato brasileiro
df = pd.read_csv('dados/campeonato-brasileiro-full.csv', sep=',',encoding = "UTF-8")
df.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP

In [43]:
#Fornece informações sobre o dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8025 entries, 0 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8025 non-null   int64
 1   rodata              8025 non-null   int64
 2   data                8025 non-null   object
 3   hora                8025 non-null   object
 4   mandante            8025 non-null   object
 5   visitante           8025 non-null   object
 6   formacao_mandante   3051 non-null   object
 7   formacao_visitante  3051 non-null   object
 8   tecnico_mandante    3415 non-null   object
 9   tecnico_visitante   3415 non-null   object
 10  vencedor            8025 non-null   object
 11  arena               8025 non-null   object
 12  mandante_Placar     8025 non-null   int64
 13  visitante_Placar    8025 non-null   int64
 14  mandante_Estado     8025 non-null   object
 15  visitante_Estado    8025 non-null   object
dtypes: int64(4), object(12)
memory usage: 1003.2+ KB

In [44]:
df.columns = ["id","rodada","data","hora","mandante","visitante","formacao_mandante","formacao_visitante","tecnico_mandante","tecnico_visitante","vencedor","arena","mandante_placar","visitante_placar","mandante_estado","visitante_estado"]

In [45]:
#Converte a data do tipo objeto para o tipo datetime e cria a coluna ano
df["data"] = pd.to_datetime(df["data"],format='%d/%m/%Y',dayfirst=True)
df_2007_2022 = df
df_2007_2022["ano"] = df_2007_2022["data"].dt.year

# Analise será feita do ano de 2007 até 2022
df_2007_2022 = df_2007_2022[(df_2007_2022["ano"]>=2007)]
df_2007_2022

#indexa dataFrame
df_2007_2022.set_index('data')
df_2007_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6079 entries, 1946 to 8024
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  6079 non-null   int64
 1   rodada              6079 non-null   int64
 2   data                6079 non-null   datetime64[ns]
 3   hora                6079 non-null   object
 4   mandante            6079 non-null   object
 5   visitante           6079 non-null   object
 6   formacao_mandante   3051 non-null   object
 7   formacao_visitante  3051 non-null   object
 8   tecnico_mandante    3415 non-null   object
 9   tecnico_visitante   3415 non-null   object
 10  vencedor            6079 non-null   object
 11  arena               6079 non-null   object
 12  mandante_placar     6079 non-null   int64
 13  visitante_placar    6079 non-null   int64
 14  mandante_estado     6079 non-null   object
 15  visitante_estado    6079 non-null   object
 16  ano                 6079 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(11)
memory usage: 854.9+ KB

In [46]:
# Cria a coluna vencedor_mandante_visitante_empate com os resultados 1 = Vencedor Mandante, 2 = Vencedor Visitante, 3 = Empate
df_2007_2022.loc[(df_2007_2022['vencedor'] == df_2007_2022['mandante']),'vencedor_mandante_visitante_empate']=1
df_2007_2022.loc[(df_2007_2022['vencedor'] == df_2007_2022['visitante']),'vencedor_mandante_visitante_empate']=2
df_2007_2022.loc[(df_2007_2022['vencedor'] == '-'),'vencedor_mandante_visitante_empate']=3

df_2007_2022.head()

C:\Users\ADM\AppData\Local\Temp\ipykernel_8512\2674450419.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2007_2022.loc[(df_2007_2022['vencedor'] == df_2007_2022['mandante']),'vencedor_mandante_visitante_empate']=1

,id,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,ano,vencedor_mandante_visitante_empate
1946,1947,1,2007-05-12,18:10,Figueirense,Athletico-PR,NaN,NaN,NaN,NaN,Athletico-PR,Orlando Scarpelli,3,6,SC,PR,2007,2.0
1947,1948,1,2007-05-12,18:10,Sao Paulo,Goias,NaN,NaN,NaN,NaN,Sao Paulo,Morumbi,2,0,SP,GO,2007,1.0
1948,1949,1,2007-05-12,18:10,Fluminense,Cruzeiro,NaN,NaN,NaN,NaN,-,Maracanã,2,2,RJ,MG,2007,3.0
1949,1950,1,2007-05-13,16:00,Flamengo,Palmeiras,NaN,NaN,NaN,NaN,Palmeiras,Maracanã,2,4,RJ,SP,2007,2.0
1950,1951,1,2007-05-13,16:00,Internacional,Botafogo-RJ,NaN,NaN,NaN,NaN,Botafogo-RJ,Beira Rio,2,3,RS,RJ,2007,2.0

In [47]:
# Criar coluna total de gols
df_2007_2022 = df_2007_2022.eval('total_gols = mandante_placar + visitante_placar ')

df_2007_2022.head()

,id,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,ano,vencedor_mandante_visitante_empate,total_gols
1946,1947,1,2007-05-12,18:10,Figueirense,Athletico-PR,NaN,NaN,NaN,NaN,Athletico-PR,Orlando Scarpelli,3,6,SC,PR,2007,2.0,9
1947,1948,1,2007-05-12,18:10,Sao Paulo,Goias,NaN,NaN,NaN,NaN,Sao Paulo,Morumbi,2,0,SP,GO,2007,1.0,2
1948,1949,1,2007-05-12,18:10,Fluminense,Cruzeiro,NaN,NaN,NaN,NaN,-,Maracanã,2,2,RJ,MG,2007,3.0,4
1949,1950,1,2007-05-13,16:00,Flamengo,Palmeiras,NaN,NaN,NaN,NaN,Palmeiras,Maracanã,2,4,RJ,SP,2007,2.0,6
1950,1951,1,2007-05-13,16:00,Internacional,Botafogo-RJ,NaN,NaN,NaN,NaN,Botafogo-RJ,Beira Rio,2,3,RS,RJ,2007,2.0,5

In [48]:
# Verifica a quantidade de temporadas por time levando em consideração que a temporada 2020 e 2021 foi atipica por causa da COVID-19
#temporada 2020
#começou = 08/08/2020
#terminou = 25/02/2021

#temporada 2021
#começou = 29/05/2021
#terminou = 09/12/2021

df_2007_2022["temporada"] = df["ano"]
df_2007_2022.loc[(df_2007_2022["data"]>="2020/08/08") & (df_2007_2022["data"]<="2021/02/25"),"temporada" ] = 2020

df_2007_2022.loc[(df_2007_2022["data"]>="2021/05/29") & (df_2007_2022["data"]<="2021/12/09"),"temporada" ] = 2021

In [49]:
# Deletando colunas desnecessárias
df_2007_2022.drop(columns=["data","hora","tecnico_mandante","tecnico_visitante","mandante_estado","visitante_estado","arena","ano"], axis=1, inplace = True)
df_2007_2022.reset_index(drop=True, inplace = True)

df_2007_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6079 entries, 0 to 6078
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  6079 non-null   int64
 1   rodada                              6079 non-null   int64
 2   mandante                            6079 non-null   object
 3   visitante                           6079 non-null   object
 4   formacao_mandante                   3051 non-null   object
 5   formacao_visitante                  3051 non-null   object
 6   vencedor                            6079 non-null   object
 7   mandante_placar                     6079 non-null   int64
 8   visitante_placar                    6079 non-null   int64
 9   vencedor_mandante_visitante_empate  6079 non-null   float64
 10  total_gols                          6079 non-null   int64
 11  temporada                           6079 non-null   int64
dtypes: float64(1), int64(6), object(5)
memory usage: 570.0+ KB

In [50]:
#colocando os nomes em minusculo
df_2007_2022.mandante = df_2007_2022.mandante.str.lower()
df_2007_2022.visitante = df_2007_2022.visitante.str.lower()
df_2007_2022.vencedor = df_2007_2022.vencedor.str.lower()

In [51]:
# Qtd de vitorias de 2007 a 2022 Serie A
qtd_vitorias_todas_temporadas = df_2007_2022["vencedor"].value_counts(sort=True).rename_axis('time').reset_index(name='Qtd_Vitorias')

#RETIRANDO OS DADOS DE EMPATE
vitorias_sem_empate = qtd_vitorias_todas_temporadas[(qtd_vitorias_todas_temporadas["time"]!="-")]

#vitoria = vitorias_sem_empate["vitoria"]
#time = vitorias_sem_empate["time"]
#plt.title("Qtd de vitorias de 2007 a 2022 ")
#plt.xlabel("Times")
#plt.ylabel("Vitorias")
#plt.barh(vitorias_sem_empate["time"],vitorias_sem_empate["vitoria"] )

print("##########################################")
print("Qtd de Vitorias de 2007 a 2022 Serie A")
print("##########################################")
vitorias_sem_empate

##########################################
Qtd de Vitorias de 2007 a 2022 Serie A
##########################################

               time  Qtd_Vitorias
1          flamengo           275
2         sao paulo           267
3       atletico-mg           264
4         palmeiras           255
5            gremio           253
6        fluminense           245
7            santos           243
8     internacional           241
9       corinthians           240
10     athletico-pr           222
11         cruzeiro           215
12      botafogo-rj           188
13            vasco           140
14         coritiba           132
15            sport           131
16            goias           124
17            bahia           103
18          vitoria            95
19      figueirense            79
20            ceara            72
21      atletico-go            72
22      chapecoense            70
23             avai            66
24      ponte preta            59
25        fortaleza            57
26          nautico            54
27       america-mg            53
28       bragantino            38
29       portuguesa            31
30        juventude            25
31         criciuma            20
32           cuiaba            20
33           parana            15
34          barueri            12
35      santo andre            11
36         ipatinga             9
37       santa cruz             8
38              csa             8
39          guarani             8
40  gremio prudente             7
41        joinville             7
42       america-rn             4

In [52]:
mandante = pd.DataFrame( df_2007_2022[['temporada','mandante','mandante_placar']])
mandante.columns = ["temporada","time","tgols"]
visitante = pd.DataFrame(df_2007_2022[['temporada','visitante','visitante_placar']])
visitante.columns = ["temporada","time","tgols"]

union_man_vis = pd.concat([mandante, visitante])

jogos_serieA = union_man_vis["time"].value_counts(sort=True).rename_axis('time').reset_index(name='Qtd_Jogos')


print("##########################################")
print("Totais de Jogos de 2007 a 2022 Serie A")
print("##########################################")
jogos_serieA

##########################################
Totais de Jogos de 2007 a 2022 Serie A
##########################################

               time  Qtd_Jogos
0            santos        608
1        fluminense        608
2          flamengo        608
3         sao paulo        608
4       atletico-mg        607
5     internacional        570
6         palmeiras        570
7       corinthians        570
8            gremio        570
9      athletico-pr        570
10      botafogo-rj        532
11         cruzeiro        494
12         coritiba        418
13            sport        418
14            vasco        418
15            goias        380
16            bahia        342
17          vitoria        304
18             avai        266
19            ceara        266
20      atletico-go        266
21      figueirense        266
22      chapecoense        265
23          nautico        190
24      ponte preta        190
25       america-mg        190
26        fortaleza        152
27       portuguesa        114
28       bragantino        114
29        juventude        114
30           parana         76
31         criciuma         76
32           cuiaba         76
33  gremio prudente         38
34          guarani         38
35       america-rn         38
36        joinville         38
37       santa cruz         38
38              csa         38
39          barueri         38
40      santo andre         38
41         ipatinga         38

Media de Vitorias total

In [53]:
print("##########################################")
print("Totais de gols de 2007 a 2022 Serie A")
print("##########################################")


t_gols = union_man_vis[["time","tgols"]].groupby(by=["time"]).sum().sort_values(by='tgols', ascending=False).groupby(level=[0]).cumsum()

t_gols

##########################################
Totais de gols de 2007 a 2022 Serie A
##########################################

                 tgols
time
flamengo           896
atletico-mg        889
sao paulo          821
santos             817
fluminense         803
palmeiras          802
gremio             778
internacional      747
corinthians        709
athletico-pr       685
cruzeiro           682
botafogo-rj        647
vasco              494
coritiba           481
goias              463
sport              463
vitoria            374
bahia              371
figueirense        294
atletico-go        288
ceara              277
avai               274
chapecoense        261
nautico            224
ponte preta        200
america-mg         185
fortaleza          174
bragantino         154
portuguesa         137
juventude          108
criciuma            77
cuiaba              65
parana              60
barueri             59
santo andre         46
santa cruz          45
gremio prudente     39
ipatinga            37
guarani             33
joinville           26
america-rn          24
csa                 24

1 ) Verificar quantidade de Vitorias/Derrotas/Empate do Clube (Botafogo, Vasco, Fluminense, Flamengo)

In [54]:
#Criação de data frame relacionado ao BOTAFOGO
selecao_brf = (df_2007_2022.mandante == 'botafogo-rj' ) |  (df_2007_2022.visitante == 'botafogo-rj' )
selecao_vas = (df_2007_2022.mandante == 'vasco' ) |  (df_2007_2022.visitante == 'vasco' )
selecao_flu = (df_2007_2022.mandante == 'fluminense' ) |  (df_2007_2022.visitante == 'fluminense' )
selecao_fla = (df_2007_2022.mandante == 'flamengo' ) |  (df_2007_2022.visitante == 'flamengo' )

df_brf = df_2007_2022[selecao_brf]
df_flu = df_2007_2022[selecao_flu]
df_fla = df_2007_2022[selecao_fla]
df_vas = df_2007_2022[selecao_vas]

selecao_cariocas = pd.concat([df_brf,df_flu,df_fla,df_vas])

selecao_cariocas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2166 entries, 4 to 5317
Data columns (total 12 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  2166 non-null   int64
 1   rodada                              2166 non-null   int64
 2   mandante                            2166 non-null   object
 3   visitante                           2166 non-null   object
 4   formacao_mandante                   1029 non-null   object
 5   formacao_visitante                  1029 non-null   object
 6   vencedor                            2166 non-null   object
 7   mandante_placar                     2166 non-null   int64
 8   visitante_placar                    2166 non-null   int64
 9   vencedor_mandante_visitante_empate  2166 non-null   float64
 10  total_gols                          2166 non-null   int64
 11  temporada                           2166 non-null   int64
dtypes: float64(1), int64(6), object(5)
memory usage: 220.0+ KB

In [55]:
selecao_cariocas.to_csv("dados/selecao_carioca.csv",sep=";",index=False)

In [56]:
selecao_cariocas = pd.read_csv('dados/selecao_carioca.csv', sep=';',encoding = "UTF-8")
selecao_cariocas.head()

,id,rodada,mandante,visitante,formacao_mandante,formacao_visitante,vencedor,mandante_placar,visitante_placar,vencedor_mandante_visitante_empate,total_gols,temporada
0,1951,1,internacional,botafogo-rj,NaN,NaN,botafogo-rj,2,3,2.0,5,2007
1,1963,2,botafogo-rj,atletico-mg,NaN,NaN,botafogo-rj,2,1,1.0,3,2007
2,1976,3,flamengo,botafogo-rj,NaN,NaN,-,2,2,3.0,4,2007
3,1978,4,botafogo-rj,gremio,NaN,NaN,botafogo-rj,3,0,1.0,3,2007
4,1987,5,palmeiras,botafogo-rj,NaN,NaN,-,1,1,3.0,2,2007

In [57]:
selecao_cariocas["win_mandante"]=0
selecao_cariocas["win_visitante"]=0
selecao_cariocas["empate"]=0